<template>
  <div>
    <img src="/assets/pallet_town.png" class="pallet-town" />
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>
.pallet-town {
  width: 640px;
  image-rendering: pixelated;
}
</style>
